# --- Server Settings ---
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
DEBUG=False
LOG_LEVEL="INFO"

# --- Telegram Bot ---
BOT_TOKEN="1234567890:ABCdefGHIjklMNOpqrsTUVwxyz"
#ADMIN_IDS="[123456789, 987654321]"
#PROXY_URL="" # e.g. "http://127.0.0.1:10809"

# Webhook (leave empty/false for Long Polling)
#USE_WEBHOOK=False
#TELEGRAM_SECRET_TOKEN="my_super_secret_telegram_token_123"
#TELEGRAM_WH_BASE_URL="https://example.com"

# --- Database (PostgreSQL) ---
DB_HOST="127.0.0.1"
DB_PORT=5432
DB_NAME="psina_db"
DB_USER="postgres"
DB_PASSWORD="postgres_password"

# --- Redis ---
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD="redis_password"

# --- Remnawave Panel ---
REMNAWAVE_BASE_URL="https://example.com"
REMNAWAVE_API_TOKEN="my_super_secret_token_remnawave_panel"

# --- Shop & Payment Settings ---
START_BALANCE=0.0
# PAYMENT_PROVIDERS='["yookassa"]'
YOOKASSA_SHOP_ID="1234567"
YOOKASSA_SECRET_KEY="test_123123_my_secret_key_yookassa"

# --- Subscriptions & Discounts ---
PERIODS_SUBSCRIPTION="[30, 60, 90, 120]"
DISCOUNT_FOR_PERIOD="[0, 5, 10, 15]"
MAX_DISCOUNT=10